[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = ">=2.0.0"
python-dotenv = ">=1.0.0"
requests = ">=2.28.0"
ollama = ">=0.3.0"

[dev-packages]

[requires]
python_version = "3.14"
